@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    background: url('../static/img/9e0b5a1bf814bf6a4455b7ca0225fbc3d81d7e57.png');
    background-size: cover;

    font-family: 'Roboto', sans-serif;
    color: white;
}

.hamburger-bar {
    width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  border-radius: 3px;
}
